.navbar-links{
  margin: 0px 200px;
}

.link {
  display: inline-block;
  transition: transform 0.6s ease;
}

.link:hover {
  transform: scale(1.2); 
}

@media (max-width: 1000px){
  .navbar-links{
    margin: 0px 100px;
  }
}

@media (max-width: 480px){
  
}